body, html {
    height: 100%;
    font-family: verdana;
    background-color:rgb(216, 206, 228);
}

.topnav {
    margin-right: -8px;
    margin-left: -8px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width:100%;
    top: 0;
}

.topnav * {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
}

.topnav img {
    float: left;
    padding: 0px 0px;
}

.topnav a:hover {
    background-color: rgba(255, 253, 253, 0.22);
    color: black;
}

.topnav a.social_media {
    float: right;
    padding: 10px 15px;
}

.hero-image {
    background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url("pc.JPG");
    height: 100%;
    background-position: center;
    margin-right: -8px;
    margin-left: -8px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    top:40%;
    position: relative;
    color: white;
}

.ufpe {
    background-image: url('Brasao_da_UFPE.png');
    background-repeat: no-repeat;
    background-position: top;
    display: block;
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.ufpe a {
    color:darkblue;
}

.ufpe p {
    text-align: center;
}

.ufpe h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.ufpe h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}

.alg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alg figcaption {
    text-align: center;
    font-size: 80%;
    margin-left:20%;
    margin-right:20%;
    font-style: italic;
}